<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <div class="card border-0">
        <div class="card-img">
          <%= image_tag "top_image.jpg", width: '80%', height: '50%' %>
        </div>
        <div class="card-img-overlay d-flex">
          <div class="m-auto">
            <p class="text-white">
              ようこそ、ながのCAKEへ！</br>
              このサイトは、ケーキ販売のECサイトになります。</br>
              会員でない方も商品の閲覧はできますが、</br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-4 mt-4 text-center">
      <h1>新着商品</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-2"></div>
    <% @items_first.each do |item| %>
      <div class="col-2 m-2">
        <%= link_to(item_path(item.id)) do %>
          <%= image_tag item.image, width: "99%", height: "66%" %>
        <% end %>
        <div class="mt-2"><%= item.name %></div>
        <div class="my-2">¥<%= (item.price).to_s(:delimited) %></div>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3 mt-2 mb-5">
      <%= link_to "全ての商品を見る >", items_path %>
    </div>
  </div>
</div>