<div class="container">
  <div class="row">
    <div class="col-4 my-4">
      <span class="h2 text-center bg-light">ショッピングカート</span>
    </div>
    <div class="col-8 text-right mt-4">
      <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger"; %>
    </div>
  </div>


  <div class="row">
    <div class="col-12 mb-3">
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th scope="col" style="width: 40%">商品名</th>
            <th scope="col" style="width: 15%">単価(税込)</th>
            <th scope="col" style="width: 15%">数量</th>
            <th scope="col" style="width: 15%">小計</th>
            <th scope="col" style="width: 15%"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= (cart_item.item.with_tax_price).to_s(:delimited) %></td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
                <td>
                  <%= f.select :amount, *[1..10], {selected: cart_item.amount} %>
                  <%= f.submit "変更", class: "btn btn-success ml-3"; %>
                </td>
              <% end %>
              <td><%= (cart_item.subtotal).to_s(:delimited) %></td>
              <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger"; %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-3 text-center">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary"; %>
    </div>
    <div class="col-5"></div>
    <div class="col-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="bg-light">合計金額</th>
            <td><%= @total_price.to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mx-auto text-center">
      <%= link_to "注文情報入力に進む", new_order_path, class: "btn btn-success mt-4"; %>
    </div>
  </div>
</div>
