<div class="container">
  <div class="row">
    <div class="col-6 text-center mt-4">
      <%= image_tag @item.image, width: "80%", height: "80%" %>
    </div>
    <div class="col-4 mt-5">
      <ul style="list-style: none;">
        <li class="h3 mb-4">
          <strong><%= @item.name %></strong>
        </li>
        <li class="mb-5">
          <%= @item.introduction %>
        </li>
        <li class="h3">
          ¥ <%= (@item.price * 110 / 100).to_s(:delimited) %>
        </li>
      </ul>
      <div class="mt-4 ml-5">
        <%= form_with model: @cart_item, url: "/cart_items", method: :post do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.label :amount, "個数" %>
          <%= f.select :amount, *[1..10] %>
          <%= f.submit "カートに入れる", class: "btn btn-success ml-4"; %>
        <% end %>
      </div>
    </div>
  </div>
</div>